name: Auto Update Food Database

on:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * *"   # daily at 11:30 PM IST

permissions:
  contents: write

jobs:
  update-foods:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas

      - name: Run update script
        run: python etl/update_foods.py

      - name: Commit & Push changes
        run: |
          git config --global user.name "actions-user"
          git config --global user.email "actions@github.com"
          git add foods.json
          git commit -m "auto: updated foods.json" || echo "No changes"
          git push
